# See http://help.github.com/ignore-files/ for more about ignoring files.

#ide
/nbproject

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

flow-coverage/

public/parameters.js
public/style-dev.min.css
public/app-dev.min.js
